import("AnnotationHub")
import("AnnotationHubData")
import("Biostrings")

importFrom("Biobase", "addVigs2WinMenu")
importFrom("BiocManager", "version")
importFrom("GenomicRanges", "GRanges")
importFrom("utils", "packageVersion", "packageDescription", "vignette", 
           "download.file")

export(EuPathDB, availableEuPathDB)
