r-base>=4.2
r-biocmanager
r-curl
r-data.table
r-desc
r-devtools
r-dplyr
r-foreach
r-glue
r-httr
r-jsonlite
r-knitr
r-magrittr
r-rcurl
r-readr
r-rsqlite
r-rvest
r-stringr
r-testthat
r-tidyr
r-xml2
bioconductor-annotationdbi
bioconductor-annotationforge
bioconductor-annotationhub
bioconductor-annotationhubdata
bioconductor-biobase
bioconductor-biocgenerics
bioconductor-biocstyle
bioconductor-biostrings
bioconductor-bsgenome
bioconductor-genomeinfodb
bioconductor-genomicfeatures
bioconductor-genomicranges
bioconductor-go.db
bioconductor-keggrest
bioconductor-organismdbi
bioconductor-reactome.db
bioconductor-rtracklayer
bioconductor-s4vectors
